<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Painel do Superusuário</title>

<link rel="stylesheet" href="/css/painelSU.css">
<link rel="stylesheet" href="/css/tokens/tokens.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  >
</head>

<body>

  <div class="app">

    <!-- SIDEBAR -->
    <aside class="sidebar">

      <div class="sidebar-top">

        <div class="logo">
          SISTEMA DE VOTAÇÃO <br>
          E DECISÃO EM GRUPO
        </div>

        <nav class="menu">

            <a href="/superusuario/pesquisar-votacao" class="menu-item">
              <span>🏠</span>
              <span>Votações Abertas</span>
            </a>

            <a href="/superusuario/criar-votacao" class="menu-item active">
              <span>➕</span>
              <span>Criar Votação</span>
            </a>

            <a href="/resultados" class="menu-item">
              <span>📊</span>
              <span>Resultados</span>
            </a>

            

            <a href="/superusuario/painel" class="menu-item">
              <span>👤</span>
              <span>Administração</span>
            </a>

        </nav>

      </div>

      <div class="sidebar-bottom">

        <div class="info-card">
          <h4>Dicas</h4>

          <p>
            Como superusuário, você pode criar votações,
            encerrar votações em andamento e visualizar
            resultados e relatórios.
          </p>
        </div>

        <div class="info-card">
          <h4>Informações</h4>

          <p>
            Os resultados só podem ser acessados por
            superusuários garantindo a imparcialidade
            do processo.
          </p>
        </div>

      </div>

    </aside>

    <!-- MAIN -->
    <main class="main">

      <!-- HEADER -->
      <header class="header">

        <div class="user-box">

    <i class="fa-regular fa-user"></i>
<div class="avatar">S</div>
    <span>Superusuário</span>


    
    <a href="/usuario/login" class="header-link">
        Entrar como usuário
    </a>

    <a href="/superusuario/login" class="header-link sair">
        Sair
    </a>

</div>

      </header>

      <!-- CONTENT -->
      <section class="content">

        <!-- TITLE -->
        <div class="page-title">
          <h1>Painel do Superusuário</h1>

          <p>
            Gerencie votações, resultados e acompanhe o andamento.
          </p>
        </div>

        <!-- ACTIONS -->
        <div class="cards-grid">

          <div class="action-card">
            <div class="card-icon">➕</div>

            <h3>Criar votação</h3>

            <p>
              Crie uma nova votação para o grupo.
            </p>

            <button
  class="btn-outline"
  onclick="window.location.href='/superusuario/criar-votacao'">
  Nova votação
</button>
          </div>

          <div class="action-card">
            <div class="card-icon">🚩</div>

            <h3>VOTAR</h3>

            <p>
              Realize a sua votação
            </p>

            <button class="btn-outline" onclick="window.location.href='/usuario/login'">
              Realizar votação
            </button>
          </div>

          <div class="action-card">
            <div class="card-icon">📊</div>

            <h3>Visualizar resultados</h3>

            <p>
              Acesse os resultados,
              gráficos e indicadores.
            </p>

            <button class="btn-outline"
  onclick="window.location.href='/resultados'">
              Ver resultados
            </button>
          </div>

          <div class="action-card">
            <div class="card-icon">🔍</div>

            <h3>Pesquisar votação</h3>

            <p>
              Pesquise votações por título,
              status ou data.
            </p>

            <button class="btn-outline" onclick="window.location.href='/superusuario/pesquisar-votacao'">
              Pesquisar
            </button>
          </div>

        </div>

        
        <!-- TABLE -->
        <div class="panel">

          <div class="panel-title">
            <h2>Votações cadastradas</h2>

            <p>
              Lista de todas as votações do sistema,
              da mais atual para a mais antiga.
            </p>
          </div>

          <div class="table-wrapper">
              <p>Total de votações: {{ votacoes|length }}</p>
            <table>

              <thead>
                <tr>
                  <th>Título da votação</th>
                  
                </tr>
              </thead>

              <tbody>
                 {% for votacao in votacoes %}
                        <tr>
                          <td>{{ votacao.titulo}}</td>
                        </tr>      
                  {% endfor %}
              </tbody>

            </table>

          </div>

      <!-- FOOTER -->
      <footer class="footer">

        <span>
          🔐 Acesso restrito ao superusuário.
          Todas as ações são registradas e auditadas.
        </span>

        <span>
          Última atualização: 20/05/2025 21:46
        </span>

      </footer>

    </main>

  </div>

</body>

</html>